<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
    	<th>ID</th>
        <th>firstName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="author : ${Authors}">
     <td th:text="${author.id}">12</td>
        <td th:text="${author.firstName}">tony</td>
        <td th:text="${author.lastName}">Spring in Abction</td>
    </tr>
</table>

</body>
</html>